{% load static %}
{% block content %}
<!DOCTYPE html>

<head>
    <title>Trend Application</title>
    <link rel="stylesheet" href="{% static 'analytic/hr/styles/compiled.min.css' %}">
    <link rel="stylesheet" href="{% static 'analytic/hr/styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'analytic/hr/styles/datatable.min.css' %}">
    <link rel="stylesheet" href="{% static 'analytic/hr/styles/additional.min.css' %}">
    <script src="{% static 'analytic/hr/jquery.min.js' %}"></script>
    <script src="{% static 'analytic/hr/bootstrap.min.js' %}"></script>
    <script src="{% static 'analytic/hr/datatable.min.js' %}"></script>
    <script src="{% static 'analytic/hr/additional.min.js' %}"></script>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1 class="text-center">Heart Rate Analytic Application</h1>
        </div>
        <div class="col-md-12 above-hr">
            <div class="col-md-11">

            </div>
            <div class="col-md-1">
            </div>
        </div>
        <hr>
        <!-- trend form -->
        <h3>Summary of fast heart rate (tachycardia) article</h3>
        <p>
            This term (tachycardia) is a medical term of fast heart rate.
            Based on data analysis, your heart rate is conditioned as fast heart rate.
            In tachycardia condition, you can be <font color='green'>healthy</font> or <font color='red'>not healthy
            </font>.
            Why? There's a lot of factor, but we must exclude some factors, because this analysis is based on heart rate
            condition.
        </p>
        <h4>- not healthy tachycardia</h4>
        <p>
            People can be <font color='red'>not healthy</font>, because it affect their body.
            There's some symptoms that can make people <font color='red'>not healthy</font>, such as
            <u>palpitations (sometimes discribed as heart flutter) and feeling dizzy, weakness, anxiety, and sensation
                of almost passing out</u>.
            You need ask specialist and take some treatment to take care about this.
        </p>
        <h4>- healthy tachycardia </h4>
        <p>
            Sometimes, people can <font color='green'>healthy</font> in this condition.
            Mostly, our heart rate is conditioned as fast heart rate not far after excercise.
            Our heart rate also increased in certain situation, such as consuming caffein, fever, anxiety etc.
            It's normal, because our heart rate is recovers rapidly to normal heart rate.
        </p>
        <hr>
        <h4>Reference:</h4>
        Please read <a target='_blank' href="https://myheart.net/articles/inappropriate-sinus-tachycardia/">this</a>
        actual article for better understanding.
    </div>
</body>
</html>
{% endblock %}