{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
{% endif %}
<br />
<br />

<div class="services-block content content-center" id="services">
  <div class="container">
  {% if error %}
  {{ error }}
  {% endif %}
  <h1>LOGIN!</h1>
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      Username:
      <br />
      <input type="text" name="username" />
      <br />
      Password:
      <br />
      <input type="password" name="password" />
      <br />
      <br />
      <a href="{% url 'password_reset' %}">Forgot password? Click here </a>
      <br />
      <br />
      <input class ="btn btn-primary" type="submit" value="Click to Login" />
      <br />
    </form>
  </div>
</div>
{% endblock %}

