{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Data Analytic</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'analytic/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0"
    href="{% static 'userdashboard_comps/HTML/styles/shards-dashboards.1.1.0.min.css' %}">
  <link rel="stylesheet" href="{% static 'userdashboard_comps/HTML/styles/extras.1.1.0.min.css' %}">
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Custom styles for this template-->
  <link href="{% static 'analytic/css/sb-admin-2.min.css' %}" rel="stylesheet">
  <link href="{% static 'analytic/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

</head>

<body id="page-top" class="sidebar-toggled">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <div class="input-group">
            <div class="input-group-append">
              <h1 class="h5 ml-5 mb-0 text-gray-900">Data Analytic</h1>
            </div>
          </div>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav border-left flex-row ">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button"
                aria-haspopup="true" aria-expanded="false">
                <!-- <img class="user-avatar rounded-circle mr-2" src="{% static 'userdashboard_comps/HTML/images/avatars/0.jpg' %}" alt="User Avatar"> -->
                <span class="d-none d-md-inline-block">Menu</span>
              </a>
              <div class="dropdown-menu dropdown-menu-small">
                <a class="dropdown-item" href="/userdashboard">
                  <i class="material-icons">home</i>
                  Home
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/dataanalytics">
                  <i class="material-icons">memory</i>
                  Analytic Dashboard
                </a>
              </div>
            </li>
          </ul>
          <!-- <div>
            <a class="nav-link text-nowrap px-3" href="/dataanalytics">
              <span class="d-none d-md-inline-block">Analytic Dashboard</span>
            </a>
          </div> -->
          <ul class="navbar-nav border-left flex-row ">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button"
                aria-haspopup="true" aria-expanded="false">
                <!-- <img class="user-avatar rounded-circle mr-2" src="{% static 'userdashboard_comps/HTML/images/avatars/0.jpg' %}" alt="User Avatar"> -->
                <span class="d-none d-md-inline-block">{{ request.user.username }}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-small">
                <a class="dropdown-item" href="{% url 'accountseditprofile' %}">
                  <i class="material-icons">person</i> Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="javascript:{document.getElementById('logout').submit()}">
                  <i class="material-icons text-danger">&#xE879;</i> Logout </a>
              </div>
              <form id="logout" method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="hidden" />
              </form>
            </li>
          </ul>


        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h4 mb-0 text-gray-800">Dashboard</h1>
          </div> -->

          <div class="d-flex justify-content-center">
            <div class="col-lg-8">

              <!-- Dropdown Card Example -->
              <div class="card shadow mb-4 d-flex justify-content-center">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Analytic Types</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <h5 class="mb-3">Please chose an analytic type!</h5>
                  <div class="row">
                    <div class="col-4">
                      <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                          href="#list-home" role="tab" aria-controls="home">Arrhytmia Classification</a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                          href="#list-profile" role="tab" aria-controls="profile">Heart Rate Analytic</a>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                          aria-labelledby="list-home-list">
                          Arrhytmia Classification is ........
                          <hr>
                          <form action="arrhytmia" method="POST">
                            {% csrf_token %}
                            <select class="form-control" id="selecttopic" name="selecttopic">
                              <option name="selecttopic" id="selecttopic" value="0">Select a topic to analyze</option>
                              {% for topic in topics %}
                              <option name="selecttopic" id="selecttopic" value="{{topic}}">{{topic}}</option>
                              {% endfor %}
                            </select>
                            <br>
                            <input type="hidden" name="analytictype" id="analytictype" value="arrhytmia">
                            <button type="submit" class="btn btn-primary btn-sm">Start Analytic</button>
                          </form>
                        </div>
                        <div class="tab-pane fade" id="list-profile" role="tabpanel"
                          aria-labelledby="list-profile-list">
                          Heart Rate Analytic is ......
                          <hr>
                          <form action="dashboard" method="POST">
                            {% csrf_token %}
                            <select class="form-control" id="selecttopic" name="selecttopic">
                              <option name="selecttopic" id="selecttopic" value="0">Select a topic to analyze</option>
                              {% for topic in topics %}
                              <option name="selecttopic" id="selecttopic" value="{{topic}}">{{topic}}</option>
                              {% endfor %}
                            </select>
                            <br>
                            <input type="hidden" name="analytictype" id="analytictype" value="hr">
                            <button type="submit" class="btn btn-primary btn-sm">Start Analytic</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% if error == "true" %}
                  <p class="text-danger">{{error_msg}}</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ??</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'analytic/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'analytic/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'analytic/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'analytic/js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'analytic/vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'analytic/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <!-- Run Data Tables -->
  <script>
    $(document).ready(function () {
      $('#dataTable').DataTable();
    });
  </script>

</body>

</html>

{% endblock %}