{% extends 'userdashboard.html' %}
{% block content %}
{% load staticfiles %}
  
    <main class="py-4">
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">{{ request.user.username }}'s Overview Menu</div>
                    <div class="card-body">
                                            <div class="alert alert-info">
                                <strong>Info!</strong> API Documentation is available in <a href="https://goo.gl/EL6mPQ">here</a>
                        </div>
    
                        <h3>Hello, {{ request.user.username }}</h3>
                        <h5>Your Package : Bronze</h5>
                        <h5>You are limited to: {{ limit.0 }} topics and {{ limit.1 }} devices</h5>
                        <hr>
                        <div class="row">
                            <div class="col-md-12"><center><h5>Statistics</h5></center></div>
                            <!-- Topics -->
                            <div class="col-md-4">
                                <center>
                                    <div class="progress-circle over50 p100">
                                    <span><a href="{% url 'topic' %}">Topics</a></span>
                                    <div class="left-half-clipper">
                                        <div class="first50-bar"></div>
                                        <div class="value-bar"></div>
                                    </div>
                                    </div>
                                    {{ topiclen }} / {{ limit.0 }}
                                </center>
                            </div>
                            <!--Device -->
                            <div class="col-md-4">
                                <center>
                                    <div class="progress-circle over50 p100">
                                    <span><a href="{% url 'device' %}">Devices</a></span>
                                    <div class="left-half-clipper">
                                        <div class="first50-bar"></div>
                                        <div class="value-bar"></div>
                                    </div>
                                    </div>
                                    {{ devicelen }} / {{ limit.1 }}
    
                                </center>
                            </div>
                            <!--Analytic -->
                            <div class="col-md-4">
                                <center>
                                    <div class="progress-circle  p0">
                                    <span><a href="/dataanalytics">Analytics</a></span>
                                    <div class="left-half-clipper">
                                        <div class="first50-bar"></div>
                                        <div class="value-bar"></div>
                                    </div>
                                    </div>
                                    0 / 3
                                </center>
                            </div>
                        </div>
                                            <hr>
                                            {% for topic in topics %}
                        <div class="row" id="topics">
                            <div class="col-md-12"><center><h5>Topics</h5></center></div>
                            <!-- Showing Topics -->
                                                                    <div class="col-md-4">
                                    <center>
                                                                    <div class="progress-circle p0">
                                                                        <span><a href="http://iotapps.belajardisini.com/analytic/heartratereadings">heartR...</a></span>
                                        <div class="left-half-clipper">
                                            <div class="first50-bar"></div>
                                            <div class="value-bar"></div>
                                        </div>
                                        </div>
                                                                            9425 / 1000000
                                                                    </center>
                                                                    </div>
                                                    </div>
                                            </div>
                                            {% endfor %}
                </div>
            </div>
        </div>
    </div>
            </main>
        </div>
    <!--START CUSTOM SCRIPT-->
        <script>
    swal({
        title: '<strong>API <u>Documentation</u></strong>',
        type: 'info',
        text: 'For your convenience we proudly support REST API connection, for the documentation please refer on these links!',
        footer: '<a href="https://goo.gl/EL6mPQ">API Documentation</a>'
    })
    </script>
    <!--END CUSTOM SCRIPT-->
    
<!--END CUSTOM SCRIPT-->
{% endblock %}

