{% extends 'userdashboard.html' %}
{% block content %}
{% load staticfiles %}

    <main class="py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Create Topic</div>
                    {% if error %}
                    <div class="alert alert-danger">
                    <p>{{ error }}</p>
                    </div>
                    {% endif %}
                    <form method="POST" action="{% url 'topiccreate' %}">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="card-body">
                      <div class="form-group row">
                        <label for="{{ field.label }}" class="col-md-4 col-form-label text-md-right">{{ field.html_name }}</label>
                        <div class="col-md-6">
                          {{ field }}
                          {{ field.errors }}
                          {{ field.help_text }}
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    <div class="card-body">
                      <div class="form-group row">
                        <label for="{{ device }}" class="col-md-4
                        col-form-label text-md-right">Device list</label>
                        <div class="col-md-6">
                        {% for device in devices %}
                          <input type="checkbox" name="devicelist" value={{ device }}>{{ device }}</input>
                        {% endfor %}
                        </div>
                      </div>
                    </div>
                    </ br>
                    </ br>

                    <div class="form-group row mb-0">
                      <div class="col-md-6 offset-md-4">
                          <button type="submit" class="btn btn-primary">
                              Register
                          </button>
                      </div>
                  </div>
                  </form>
                </div>
            </div>
        </div>
      </div>
    </main>
    </div>
    <!-- Start Custom JS -->
        <!-- End Custom JS -->

{% endblock %}
